.button {
  background-color: #59D2FE; /* Green */
  border: none;
  border-radius: 4px;
  color: #111;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  transition: all ease-in-out 100ms;
}

.btn-c{
  margin: 3em 0;
}

.button:hover {
  background-color: #39C2DE;
  cursor: pointer;
}

.button:disabled{
  opacity: 0.6;
  cursor:not-allowed;
}

.button:disabled:hover{
  background: #59D2FE;
}