.App {
  text-align: center;
  font-family: "Product Sans";
}

.aa {
  display: flex;
  justify-content: center;
}

h1{
  padding-top: 2em;
}
h2{
  padding-bottom: 1em;
  color: #555;
  font-weight: 400;
  font-size: 1.4em;
}

