.pica {
  position: relative;
  width: 140px;
  height: 100%;
  border-radius: 6px;
}

.picturea{
  position: relative;
  margin: 0.2em;
  transition: all ease-in-out 100ms;
}

.picturea .overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background: black;
  z-index: 5;
  opacity: 0.8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay svg{
  fill: #3dfaff;
}

.picturea:hover{
  cursor: pointer;
  transform:translate(0, -4px);
}